body{
    margin: 0;
    background-color: #d9cfbe;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-info{
    background-color: #fff;
    box-sizing: border-box;
    padding: 15px;
    width: 60%;
    height: 300px;
   border: 4px solid #b98484;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.div-comment{
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    width: 600px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #b98484;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px;
}
.div-comment>p{
    margin: 5px;
}
